.calendar {
    padding: $margin-default;

    .calendar-header {        
        @include border(1px, solid, $body-background-color,'bottom');
        padding-bottom:$padding-element-default;
        margin-bottom:$margin-default; 
        
        .calendar-day-tittle {
            font-size:$font-size-level1;
            font-weight:600;
        }

    }

    .calendar-row-activity {
        
        @include border(3px, double, $secundary-color,'bottom');
        padding:$margin-default;

        h1 {
            font-size:$font-size-level2;
            font-weight:300;
        }

        h2 {
            font-size:$font-size-level1;
            font-weight:100;
        }

    }

    // Calendar days, month , year
    .calendar-month {
        padding-bottom:$padding-element-default;        
    }

    .arrow-left {
        text-align:left;
        font-weight:600;
    }

    .arrow-right {
        text-align:right;
        font-weight:600;
    }

    .month {
        font-weight:300;
    }

    .calendar-helper {
        @include border(1px, solid, $body-background-color, 'false');
    }

    .calendar-row {
        padding:$padding-block-default;
    }

    .calendar-column {
        padding:$padding-element-default;        
        text-align:center;
        @include border(1px, solid, $body-background-color, 'false');

    }

    .calendar-column-header {
        padding:$padding-element-default;
        text-align:center;
        @include border(1px, solid, $body-background-color, 'bottom');
    }
}



