/* Menu left*/

.menu-left-content {
    min-height: $content-min-height;
    color:$primary-font-color;
    background-color:$primary-background-color;
    @include border(1px,solid,$primary-border-color,'right');
    @include border(1px,solid,$primary-border-color,'top');
    
    margin-top: 29px;  
    margin-left:1px;  
    box-sizing:border-box;

    &::after {
        display: block;
        height:100%;
        background-color:$primary-background-color;
    }

    img {width: 100%;}

    ul {
        text-decoration: none;
        list-style: none;
        padding: 0px;
        margin: 0px;

         li {

            @include border(1px,solid,$primary-border-color,'bottom');
            @include border(1px,solid,$primary-border-color,'right');
            padding:8px;
            .active {   
                @include border(1px,solid,$primary-border-color,'bottom');    
                border-right: 4px solid #428bca;
                border-bottom: 4px solid #428bca;
            }
        }

    }

}
