/* Barra menu principal */

.logo {
    margin-top: 10px;
    img{
        min-width:70px;
        max-width: 70px;
        transition: all ease 1s;
    }
}
 
.navbar {
    @include display-flex();
    @include flex(1,0);
    @include flex-horizontal-direction();
    @include flex-wrap();

    background-color:$primary-background-color;

    .navbar-background {background-color:$primary-background-color;}
    .navbar-border {@include border(1px, solid, $primary-border-color, 'bottom')}
    .navbar-collapse {
      @include flex-basis(100%);
      max-width: 100%;      
    }

    .nav-right {
        padding:0px;margin: 0px;
        li {
            padding:8px 10px;    
            display:inline-table;
            cursor:pointer;
            color:#000;
            font-size: 9em;
            transition: all ease 1s;
        
            &:last-child {
                font-weight:200;
                font-size:$font-size-level1;
                background-color: $secundary-color;
                color:white;
                @include border(1px, solid, $primary-border-color, 'bottom');
                padding:28px 31px;   
                
            }
            &:not(:last-child):hover {
                color: #678BC1!important;
            }
        }        
    }
}



/* Menu desplegable */
.toggle-menu {
    background-color:#9EBBD4;
    width:100%;
    margin-top: -2px!important;
    z-index: 999999;
    font-size: 7vw;
    .footer{
        background-color:$secundary-color;
        padding:10px;
    }
    .item {
        border-right: 1px solid #FFFFFF;
        padding: 10px;
        padding-right:40px;
        padding-left:40px;
        color: #6F6E6E;
        a {    
            color: #6F6E6E;
            text-decoration:none;
            transition:all ease 1s;
            &:hover { color:#FFF;}
        }
        .active { color:#FFF; }
    }
    .no-border { border-right: 0px;}
}
