.container-body {
    padding:30px; 
    padding-right:0px;
     
        .block {
            padding:$padding-block-default;
            background-color: $primary-background-color;
            min-height:$content-min-height;
            box-sizing:border-box;
        } 
}

.head-body {
    @include border(2px, solid, $primary-border-color,'bottom');
    margin-bottom:$margin-default;
    padding-bottom:$margin-default;
}

.tittle {
    font-size:20px;
    font-weight:600;
}

.subtittle {
    font-size:9px;
}

.loading {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    background-color: #545454;
    opacity: 0.6;
    img {
       width: 150px;
       @include centerer(true,true);
    }
}