.container-body {
    padding:30px; 
    padding-right:0px;
     
        .block {
            padding:$padding-block-default;
            background-color: $primary-background-color;
            min-height:$content-min-height;
            box-sizing:border-box;
        } 
}

.head-body {
    @include border(2px, solid, $primary-border-color,'bottom');
    margin-bottom:$margin-default;
    padding-bottom:$margin-default;
}

.tittle {
    font-size:20px;
    font-weight:600;
}

.subtittle {
    font-size:9px;
}

