//******** Properties generals ************************

// Colors
$primary-font-color: #273b47; // gray
$primary-background-color : #FFF; // white
$secundary-color:#0094ff; // blue
$body-background-color:#EEE; // silver
$primary-border-color:#EEE; // silver

// Font
$font-primary-family : Lato,sans-serif,Arial;
$font-primary-size: 13px;
//levels
$font-size-level1 : 16px;
$font-size-level2 : 14px;
$font-size-level3 : 13px;


// Width & height
$content-min-height : 650px;


// Margins
$padding-element-default: 5px;
$padding-block-default: 20px;
$margin-default : 16px;