/* Barra menu principal */

.logo {
   padding:10px;
}
.logo img{
    width:17%;
}

.navbar {
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;

    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    -webkit-box-flex: 0;
    flex: 0 1 auto;

    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;

    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    background-color:#FFF;
}

.navbar .navbar-background {background-color:#BBB;}
.navbar .navbar-border {border-bottom: 1px solid #EEE;}
.navbar .navbar-collapse {
    -ms-flex-preferred-size: 100%;
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
    max-width: 100%;      
}

.nav-right {padding:0px;margin: 0px;}
.nav-right li {
    padding:8px 10px;    
    display:inline-table;
    cursor:pointer;
    color:#000;
    transition: all ease 1s;
}
.nav-right li:last-child {
    padding:28px 31px;   
    font-weight:200;
    font-size:16px;
    background-color: #1582dc;
    border-bottom: 1px solid #EEE;
    color:white;
}
.nav-right li:not(:last-child):hover {
    color: #678BC1!important;
}


/* Menu desplegable */
.toggle-menu {
    background-color:#9EBBD4;
    width:100%;
    margin-top: -2px;
    z-index: 999999;
    font-size:150px;
}

.toggle-menu .footer{
    background-color:#1582dc;
    padding:10px;
}

.toggle-menu .item {
    border-right: 1px solid #FFFFFF;
    padding: 10px;
    color: #6F6E6E;
}
.toggle-menu .item a {    
    color: #6F6E6E;
    text-decoration:none;
    transition:all ease 1s;
}
.toggle-menu .item a:hover{ color:#FFF; }
.toggle-menu .item .active { color:#FFF; }
.toggle-menu .no-border { border-right: 0px;}
