/* Menu left*/

.menu-left-content {
    border-right:1px solid #eee;
    margin-left:1px;
    color:#5F6571;
    border-top:1px solid #eee;
    background-color:#FFF;
    margin-top: 29px;
    min-height:700px;
    max-height:700px;
}
.menu-left-content::after {
    display: block;
    height:100%;
    background-color:#fff;
}

.menu-left-content img{width: 100%;}

.menu-left-content ul{
    text-decoration: none;
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.menu-left-content li{
    border-bottom:1px solid #eee; 
    border-right:1px solid #eee; 
    padding:8px;
}

.menu-left-content .active{       
    border-right: 4px solid #428bca;
    border-bottom: 4px solid #428bca;
}