/* Reset.css */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 2%;
  padding-left: 2%;
  max-width: 98%; }

.row {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  -webkit-box-flex: 0;
  flex: 0 1 auto;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.row.reverse {
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  flex-direction: row-reverse; }

.col.reverse {
  -webkit-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  flex-direction: column-reverse; }

.col-0,
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  box-sizing: border-box;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto; }

.col-0 {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 0;
  -webkit-flex-basis: 0;
  flex-basis: 0;
  max-width: 100%; }

.col-1 {
  -ms-flex-preferred-size: 8.333%;
  -webkit-flex-basis: 8.333%;
  flex-basis: 8.333%;
  max-width: 8.333%; }

.col-2 {
  -ms-flex-preferred-size: 16.667%;
  -webkit-flex-basis: 16.667%;
  flex-basis: 16.667%;
  max-width: 16.667%; }

.col-3 {
  -ms-flex-preferred-size: 25%;
  -webkit-flex-basis: 25%;
  flex-basis: 25%;
  max-width: 25%; }

.col-4 {
  -ms-flex-preferred-size: 33.333%;
  -webkit-flex-basis: 33.333%;
  flex-basis: 33.333%;
  max-width: 33.333%; }

.col-5 {
  -ms-flex-preferred-size: 41.667%;
  -webkit-flex-basis: 41.667%;
  flex-basis: 41.667%;
  max-width: 41.667%; }

.col-6 {
  -ms-flex-preferred-size: 50%;
  -webkit-flex-basis: 50%;
  flex-basis: 50%;
  max-width: 50%; }

.col-7 {
  -ms-flex-preferred-size: 58.333%;
  -webkit-flex-basis: 58.333%;
  flex-basis: 58.333%;
  max-width: 58.333%; }

.col-8 {
  -ms-flex-preferred-size: 66.667%;
  -webkit-flex-basis: 66.667%;
  flex-basis: 66.667%;
  max-width: 66.667%; }

.col-9 {
  -ms-flex-preferred-size: 75%;
  -webkit-flex-basis: 75%;
  flex-basis: 75%;
  max-width: 75%; }

.col-10 {
  -ms-flex-preferred-size: 83.333%;
  -webkit-flex-basis: 83.333%;
  flex-basis: 83.333%;
  max-width: 83.333%; }

.col-11 {
  -ms-flex-preferred-size: 91.667%;
  -webkit-flex-basis: 91.667%;
  flex-basis: 91.667%;
  max-width: 91.667%; }

.col-12 {
  -ms-flex-preferred-size: 100%;
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
  max-width: 100%; }

.col-offset-1 {
  margin-left: 8.333%; }

.col-offset-2 {
  margin-left: 16.667%; }

.col-offset-3 {
  margin-left: 25%; }

.col-offset-4 {
  margin-left: 33.333%; }

.col-offset-5 {
  margin-left: 41.667%; }

.col-offset-6 {
  margin-left: 50%; }

.col-offset-7 {
  margin-left: 58.333%; }

.col-offset-8 {
  margin-left: 66.667%; }

.col-offset-9 {
  margin-left: 75%; }

.col-offset-10 {
  margin-left: 83.333%; }

.col-offset-11 {
  margin-left: 91.667%; }

.start {
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  -webkit-box-pack: start;
  justify-content: flex-start;
  text-align: start; }

.center {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center; }

.end {
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  -webkit-box-pack: end;
  justify-content: flex-end;
  text-align: end; }

.top {
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  -webkit-box-align: start;
  align-items: flex-start; }

.middle {
  -webkit-align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center; }

.bottom {
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  -webkit-box-align: end;
  align-items: flex-end; }

.around {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.between {
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  justify-content: space-between; }

.first {
  -webkit-order: -1;
  -ms-flex-order: -1;
  -webkit-box-ordinal-group: 0;
  order: -1; }

.last {
  -webkit-order: 1;
  -ms-flex-order: 1;
  -webkit-box-ordinal-group: 2;
  order: 1; }

.container-body {
  padding: 30px;
  padding-right: 0px; }
  .container-body .block {
    padding: 30px;
    background-color: #ffffff;
    min-height: 650px;
    box-sizing: border-box; }

.head-body {
  border-bottom: 1px solid #1582dc;
  margin-bottom: 20px;
  padding-bottom: 10px; }

.tittle {
  font-size: 20px;
  font-weight: 600; }

.subtittle {
  font-size: 9px; }

/* Menu left*/
.menu-left-content {
  border-right: 1px solid #eee;
  margin-left: 1px;
  color: #5F6571;
  border-top: 1px solid #eee;
  background-color: #FFF;
  margin-top: 29px;
  min-height: 650px;
  box-sizing: border-box; }
  .menu-left-content::after {
    display: block;
    height: 100%;
    background-color: #fff; }
  .menu-left-content img {
    width: 100%; }
  .menu-left-content ul {
    text-decoration: none;
    list-style: none;
    padding: 0px;
    margin: 0px; }
    .menu-left-content ul li {
      border-bottom: 1px solid #eee;
      border-right: 1px solid #eee;
      padding: 8px; }
      .menu-left-content ul li .active {
        border-right: 4px solid #428bca;
        border-bottom: 4px solid #428bca; }

/* Barra menu principal */
.logo {
  padding: 10px; }
  .logo img {
    width: 17%; }

.navbar {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  -webkit-box-flex: 0;
  flex: 0 1 auto;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background-color: #FFF; }
  .navbar .navbar-background {
    background-color: #BBB; }
  .navbar .navbar-border {
    border-bottom: 1px solid #EEE; }
  .navbar .navbar-collapse {
    -ms-flex-preferred-size: 100%;
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
    max-width: 100%; }
  .navbar .nav-right {
    padding: 0px;
    margin: 0px; }
    .navbar .nav-right li {
      padding: 8px 10px;
      display: inline-table;
      cursor: pointer;
      color: #000;
      transition: all ease 1s; }
      .navbar .nav-right li:last-child {
        padding: 28px 31px;
        font-weight: 200;
        font-size: 16px;
        background-color: #1582dc;
        border-bottom: 1px solid #EEE;
        color: white; }
      .navbar .nav-right li:not(:last-child):hover {
        color: #678BC1 !important; }

/* Menu desplegable */
.toggle-menu {
  background-color: #9EBBD4;
  width: 100%;
  margin-top: -2px;
  z-index: 999999;
  font-size: 150px; }
  .toggle-menu .footer {
    background-color: #1582dc;
    padding: 10px; }
  .toggle-menu .item {
    border-right: 1px solid #FFFFFF;
    padding: 10px;
    color: #6F6E6E; }
    .toggle-menu .item a {
      color: #6F6E6E;
      text-decoration: none;
      transition: all ease 1s; }
      .toggle-menu .item a:hover {
        color: #FFF; }
    .toggle-menu .item .active {
      color: #FFF; }
  .toggle-menu .no-border {
    border-right: 0px; }

.calendar {
  padding: 16px; }
  .calendar .calendar-header {
    padding-bottom: 5px;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px; }
    .calendar .calendar-header .calendar-day-tittle {
      font-size: 17px;
      font-weight: 600; }
  .calendar .calendar-row-activity {
    padding: 10px;
    border-bottom: 1px dotted #0094ff; }
    .calendar .calendar-row-activity h1 {
      font-size: 15px;
      font-weight: 300; }
    .calendar .calendar-row-activity h2 {
      font-size: 14px;
      font-weight: 100; }
  .calendar .calendar-month {
    border-bottom: 1px dotted #0094ff;
    padding-bottom: 5px; }
  .calendar .arrow-left {
    text-align: left;
    font-weight: 600; }
  .calendar .arrow-right {
    text-align: right;
    font-weight: 600; }
  .calendar .month {
    font-weight: 300; }
  .calendar .calendar-helper {
    border: 1px solid #eee; }
  .calendar .calendar-row {
    padding: 5px; }
  .calendar .calendar-column {
    padding: 5px;
    border: 1px solid #eee;
    text-align: center; }
  .calendar .calendar-column-header {
    padding: 5px;
    border-bottom: 1px solid #eee;
    text-align: center; }

html {
  overflow-y: scroll; }

html, body {
  height: 100%;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 13px;
  background-color: #EEE; }

/*# sourceMappingURL=Site.css.map */
