@import "Layout/property.scss";
@import "Layout/mixins.scss";

@import "Layout/reset.scss";
@import "Layout/grid.scss";
@import "Layout/body.scss";

@import "Libraries/menu_left.scss";
@import "Libraries/menu_main.scss";
@import "Libraries/calendar.scss";

html {
    overflow-y: scroll;
}

html, body {   
    height: 100%;
    font-family : $font-primary-family;
    font-size: $font-primary-size;
    background-color:$body-background-color;
    color: $primary-font-color;
    text-rendering: optimizeLegibility; 
    -webkit-font-smoothing: antialiased;
}


