
@{
    ViewBag.Title = "MyCalendar";
}

<div class="container">
    
    <div class="head-body">
        <div class="col-12">
            <span class="tittle">Mi calendario</span>
            <br />
            <span class="subtittle">En este apartado podrás visualizar el listado de tus actividades programadas</span>
        </div>
    </div>



    



    <div class="calendar">
        <div class="row between">
            <div class="col-5">
                <div class="row between calendar-month">
                    <div class="col-1 arrow-left"><</div>
                    <div class="col-1 month">Enero</div>
                    <div class="col-1 arrow-right">></div>
                </div>            
                <div class="calendar-helper">
                    <div class="row between calendar-row">
                        <div class="col-1 calendar-column-header">Dom</div>
                        <div class="col-1 calendar-column-header">Lun</div>
                        <div class="col-1 calendar-column-header">Mar</div>
                        <div class="col-1 calendar-column-header">Mie</div>
                        <div class="col-1 calendar-column-header">Jue</div>
                        <div class="col-1 calendar-column-header">Vie</div>
                        <div class="col-1 calendar-column-header">Sab</div>                        
                    </div>
                    <div class="row between calendar-row">
                        <div class="col-1 calendar-column">0</div>
                        <div class="col-1 calendar-column">1</div>
                        <div class="col-1 calendar-column">2</div>
                        <div class="col-1 calendar-column">3</div>
                        <div class="col-1 calendar-column">4</div>
                        <div class="col-1 calendar-column">5</div>
                        <div class="col-1 calendar-column">6</div>
                    </div>
                    <div class="row between calendar-row">
                        <div class="col-1 calendar-column">7</div>
                        <div class="col-1 calendar-column">8</div>
                        <div class="col-1 calendar-column">9</div>
                        <div class="col-1 calendar-column">10</div>
                        <div class="col-1 calendar-column">11</div>
                        <div class="col-1 calendar-column">12</div>
                        <div class="col-1 calendar-column">13</div>
                    </div>
                    <div class="row between calendar-row">
                        <div class="col-1 calendar-column">14</div>
                        <div class="col-1 calendar-column">15</div>
                        <div class="col-1 calendar-column">16</div>
                        <div class="col-1 calendar-column">17</div>
                        <div class="col-1 calendar-column">18</div>
                        <div class="col-1 calendar-column">19</div>
                        <div class="col-1 calendar-column">20</div>
                    </div>
                    <div class="row between calendar-row">
                        <div class="col-1 calendar-column">21</div>
                        <div class="col-1 calendar-column">22</div>
                        <div class="col-1 calendar-column">23</div>
                        <div class="col-1 calendar-column">24</div>
                        <div class="col-1 calendar-column">25</div>
                        <div class="col-1 calendar-column">26</div>
                        <div class="col-1 calendar-column">27</div>
                    </div>
                    <div class="row between calendar-row">
                        <div class="col-1 calendar-column">28</div>
                        <div class="col-1 calendar-column">29</div>
                        <div class="col-1 calendar-column">30</div>
                        <div class="col-1 calendar-column">31</div>
                        <div class="col-1 calendar-column">1</div>
                        <div class="col-1 calendar-column">2</div>
                        <div class="col-1 calendar-column">3</div>
                    </div>

                </div>                
            </div>
            <div class="col-6">
                <div class="calendar-header">
                    <div class="col-offset-12">
                        <span class="calendar-day-tittle">Lunes, Día 25 de enero</span>
                    </div>
                </div>

                <div class="calendar-row-activity">
                    <div class="row between">
                        <div class="col-2"><h1>10:00H</h1></div>
                        <div class="col-8"><h2>Actividad de abdominales para principiantes en la sala principal`</h2></div>
                    </div>
                </div>

                <div class="calendar-row-activity">
                    <div class="row between">
                        <div class="col-2"><h1>10:00H</h1></div>
                        <div class="col-8"><h2>Actividad de abdominales para principiantes en la sala principal`</h2></div>
                    </div>
                </div>

                <div class="calendar-row-activity">
                    <div class="row between">
                        <div class="col-2"><h1>11:00H</h1></div>
                        <div class="col-8"><h2>Actividad de abdominales para principiantes en la sala principal`</h2></div>
                    </div>
                </div>

                <div class="calendar-row-activity">
                    <div class="row between">
                        <div class="col-2"><h1>12:00H</h1></div>
                        <div class="col-8"><h2>Actividad de abdominales para principiantes en la sala principal`</h2></div>
                    </div>
                </div>      
               
            </div>
        </div>
    </div>

</div>


