<div class="menu-left-content">
    <nav class="row">
        <div class="col-12"><img src="https://entrenar.me/assets/images/landing/entrenador.png" /> </div>
        <ul class="col-12">
            <li class="active">Rutinas</li>
            <li>Dietas</li>
            <li>Rendimiento</li>
        </ul>
    </nav>
</div>