

<ul class="nav navbar-nav navbar-right style-navbar-right-margin">
    <li>
        <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
    </li>
    <li class="style-navbar-nav style-silver-light">
        <span>Usuario</span>       
    </li>
</ul>

